<svelte:head>
  <title>#dataFin Ambiancer</title>
</svelte:head>

<div class="container-fluid">
  {#if nowPlaying === "pitches" && playingTopicId !== null && topicEmbedById[playingTopicId]}
    <TopicScreen duration={duration} nextTopicEmbed={nextAcceptedProjectId === null  ? null : topicEmbedById[nextAcceptedProjectId]} seconds={seconds} topicEmbed={topicEmbedById[playingTopicId]}/>
  {:elseif nowPlaying === "slideshow" & playingTopicId !== null && topicEmbedById[playingTopicId]}
    <TopicScreen duration={null} nextTopicEmbed={null} seconds={null} topicEmbed={topicEmbedById[playingTopicId]}/>
  {:else}
    <!-- Svelte removes background style when rendered on client => use a function to hide the background-image
      attribute.
      <div class="banner" style="background-image: url('{config.banner.backgroundImageUrl}');">
    -->
    <div class="banner" style="{backgroundImage(config.banner.backgroundImageUrl)}">
      <div class="banner-content">
        {#if config.banner.logoUrl}
          <img alt="logo du site" class="banner-logo" src="{config.banner.logoUrl}">
        {/if}
        {@html config.banner.title}
        <!-- <div class="d-flex mb-5 mt-5 justify-content-center">
          <a class="btn btn-lg btn-primary text-uppercase" href="{config.banner.buttonUrl}" role="button">{config.banner.buttonTitle}</a>
        </div> -->
      </div>
    </div>
  {/if}
</div>

<style type="text/scss">
  .banner {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .banner-content {
    text-align: center;
  }

  .banner-logo {
    max-width: 100%;
  }
</style>

<script>
  import Sockette from "sockette"
  import config from "../config.js"
  import TopicScreen from "../components/TopicScreen.html"

  export default {
    components: {
      TopicScreen,
    },
    computed: {
      nextAcceptedProjectId({acceptedProjectsId, playingTopicId}) {
        if (playingTopicId === null || acceptedProjectsId === null) {
          return null
        }
        const index = acceptedProjectsId.indexOf(playingTopicId)
        if (index + 1 >= acceptedProjectsId.length) {
          return null
        }
        return acceptedProjectsId[index + 1]
      },
      topicEmbedById({messagesCategory, projectsCategory}) {
        const topicsEmbed = [
          ...(messagesCategory === null ? [] : messagesCategory.topic_list.topics.slice(1)),
          ...(projectsCategory === null ? [] : projectsCategory.topic_list.topics.slice(1)),
        ]
        return topicsEmbed.reduce(function(result, topicEmbed /* , index, array */) {
          result[topicEmbed.id] = topicEmbed
          return result
        }, {})
      },
      topicsId({messagesCategory, projectsCategory}) {
        return [
          ...(
            messagesCategory === null ?
              [] :
              messagesCategory.topic_list.topics.slice(1).map(topicEmbed => topicEmbed.id)
          ),
          ...(
            projectsCategory === null ?
              [] :
              projectsCategory.topic_list.topics.slice(1).map(topicEmbed => topicEmbed.id)
          ),
        ]
      },
    },
    data() {
      return {
        acceptedProjectsId: null,
        messagesCategory: null,
        nowPlaying: "default",
        playingTopicId: null,
        projectsCategory: null,
      }
    },
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
      config,
      topicsIdToTopicsEmbed(topicEmbedById, topicsId) {
        return topicsId.map(topicId => topicEmbedById[topicId])
      },
    },
    oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      this.ws = new Sockette(`${config.appWsUrl}/`, {
        // timeout: 5e3,
        // maxAttempts: 10,
        onclose: event => console.log("Home Closed!", event),
        onerror: event => console.error("Home Error:", event),
        onmaximum: event => console.log("Home Stop Attempting!", event),
        onmessage: event => {
          // console.log("Home Received:", event)
          const {
            acceptedProjectsId,
            duration,
            messagesCategory,
            nowPlaying,
            playingTopicId,
            projectsCategory,
            seconds,
          } = JSON.parse(event.data)
          this.set({
            acceptedProjectsId,
            duration,
            messagesCategory,
            nowPlaying,
            playingTopicId,
            projectsCategory,
            seconds,
          })
        },
        onopen: (/* event */) => {
          // console.log("Home Connected!", event)
        },
        onreconnect: event => console.log("Home Reconnecting...", event),
      })
    },
  }
</script>