<svelte:head>
  <title>Défis | Admin | {config.title}</title>
</svelte:head>

<AdminBar slug="defis"/>
<div class="container-fluid">
  <h1 class="display-4 mb-5 mt-5 text-center">Admin — Défis</h1>
  <div class="row">
    <div class="col">
      <h2>Rejetés</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, rejectedProjectsId) as topicEmbed (`rejected-${topicEmbed.id}`)}
          <li class="media{dragTargetTopicId === topicEmbed.id ? ' drag-over' : ''}" on:dragenter="dragEnter(event, topicEmbed.id)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, topicEmbed.id)" on:drop="dropToRejected(event, topicEmbed.id)">
            <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <span class="badge badge-primary">#{topicEmbed.id}</span>
                {topicEmbed.title}
                <i class="delete-button material-icons ml-3" on:click="removeRejectedProject(topicEmbed.id)">delete</i>
              </h5>
              <div>
                {@html topicEmbed.excerpt}
              </div>
            </div>
          </li>
        {/each}
        <li class="media{dragTargetTopicId === -1 ? ' drag-over' : ''}" on:dragenter="dragEnter(event, -1)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, -1)" on:drop="dropToRejected(event, -1)">
          <div class="media-body">
            <i>Glisser ici les défis à rejeter.</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2>Candidats</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, topicsId) as topicEmbed (`candidate-${topicEmbed.id}`)}
          {#if !acceptedProjectsId.includes(topicEmbed.id) && !rejectedProjectsId.includes(topicEmbed.id)}
            <li class="draggable{dragSourceTopicId === topicEmbed.id ? ' dragging' : ''} media" draggable="true" id="{topicEmbed.id}"  on:dragend="dragEnd(event)" on:dragstart="dragStart(event, topicEmbed.id)">
              <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
              <div class="media-body">
                <h5 class="mt-0 mb-1">
                  <span class="badge badge-primary">#{topicEmbed.id}</span>
                  {topicEmbed.title}
                </h5>
                <div>
                  {@html topicEmbed.excerpt}
                </div>
              </div>
            </li>
          {/if}
        {/each}
      </ul>
    </div>
    <div class="col">
      <h2>Acceptés</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, acceptedProjectsId) as topicEmbed (`accepted-${topicEmbed.id}`)}
          <li class="draggable {dragTargetTopicId === topicEmbed.id ? ' drag-over' : ''}{dragSourceTopicId === topicEmbed.id ? ' dragging' : ''} media" draggable="true" on:dragend="dragEnd(event)" on:dragenter="dragEnter(event, topicEmbed.id)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)"on:dragover="dragOver(event, topicEmbed.id)" on:dragstart="dragStart(event, topicEmbed.id)" on:drop="dropToAccepted(event, topicEmbed.id)">
            <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <span class="badge badge-primary">#{topicEmbed.id}</span>
                {topicEmbed.title}
                <i class="delete-button material-icons ml-3" on:click="removeAcceptedProject(topicEmbed.id)">delete</i>
              </h5>
              <div>
                {@html topicEmbed.excerpt}
              </div>
            </div>
          </li>
        {/each}
        <li class="media{dragTargetTopicId === -2 ? ' drag-over' : ''}" on:dragenter="dragEnter(event, -2)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, -2)" on:drop="dropToAccepted(event, -2)">
          <div class="media-body">
            <i>Glisser ici les défis à accepter.</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<style type="text/scss">
  .delete-button {
    cursor: pointer;
  }

  .drag-over {
    border-top: 2px solid blue;
  }

  .draggable {
    cursor: grab;
  }

  .dragging {
    opacity: 0.4;
  }

  .image {
    max-height: 64px;
    max-width: 64px;
    object-fit: contain;
    pointer-events: none; /* Make image not draggable. */
  }
</style>

<script>
  import Sockette from "sockette"
  import AdminBar from "../../components/AdminBar.html"
  import config from "../../config.js"
  import {fetchCategory} from "../../utils.js"

  const categoryConfig = config.projectsCategory

  export default {
    components: {
      AdminBar,
    },
    computed: {
      topicEmbedById({projectsCategory}) {
        return projectsCategory === null ?
          {} :
          projectsCategory.topic_list.topics.slice(1).reduce(function(result, topicEmbed /* , index, array */) {
            result[topicEmbed.id] = topicEmbed
            return result
          }, {})
      },
      topicsId({projectsCategory}) {
        return projectsCategory === null ?
          [] :
          projectsCategory.topic_list.topics.slice(1).map(topicEmbed => topicEmbed.id)
      },
    },
    data() {
      return {
        acceptedProjectsId: [],
        dragSourceTopicId: null,
        dragTargetTopicId: null,
        errorMessage: null,
        projectsCategory: null,
        rejectedProjectsId: [],
      }
    },
    helpers: {
      config,
      topicsIdToTopicsEmbed(topicEmbedById, topicsId) {
        return topicsId.map(topicId => topicEmbedById[topicId])
      },
    },
    methods: {
      dragEnd(/* event */) {
        // console.log("dragEnd")
        this.set({dragSourceTopicId: null, dragTargetTopicId: null})
      },
      dragEnter(/* event, */ topicId) {
        // console.log("dragEnter")
        this.set({dragTargetTopicId: topicId})
      },
      dragExit(/* event */) {
        // console.log("dragExit")
        this.set({dragTargetTopicId: null})
      },
      dragLeave(/* event */) {
        // console.log("dragLeave")
        this.set({dragTargetTopicId: null})
      },
      dragOver(event, topicId) {
        // console.log("dragOver")
        event.preventDefault()
        this.set({dragTargetTopicId: topicId})
        return false
      },
      dragStart(event, topicId) {
        // console.log("dragStart")
        event.dataTransfer.dropEffect = "move"
        event.dataTransfer.effectAllowed = "move"
        event.dataTransfer.setData("text/plain", topicId)
        this.set({dragSourceTopicId: topicId})
      },
      dropToAccepted(event, targetTopicId) {
        event.preventDefault()
        // console.log("dropToAccepted")
        const topicId = parseInt(event.dataTransfer.getData("text/plain"))
        let {acceptedProjectsId} = this.get()
        const targetIndex = targetTopicId === null ? null : acceptedProjectsId.indexOf(targetTopicId)
        const sourceIndex = acceptedProjectsId.indexOf(topicId)
        if (sourceIndex >= 0) {
          acceptedProjectsId.splice(sourceIndex, 1)
        }
        if (targetIndex === null || targetIndex < 0) {
          acceptedProjectsId.push(topicId)
        } else {
          acceptedProjectsId.splice(targetIndex, 0, topicId)
        }
        this.set({dragSourceTopicId: null, dragTargetTopicId: null, acceptedProjectsId})
        this.ws.json({acceptedProjectsId, type: "acceptedProjectsId"})
        return false
      },
      dropToRejected(event, targetTopicId) {
        event.preventDefault()
        // console.log("dropToRejected")
        const topicId = parseInt(event.dataTransfer.getData("text/plain"))
        let {rejectedProjectsId} = this.get()
        if (!rejectedProjectsId.includes(topicId)) {
          if (targetTopicId === null) {
            rejectedProjectsId.push(topicId)
          } else {
            const index = rejectedProjectsId.indexOf(targetTopicId)
            if (index < 0) {
              rejectedProjectsId.push(topicId)
            } else {
              rejectedProjectsId.splice(index, 0, topicId)
            }
          }
          this.set({dragSourceTopicId: null, dragTargetTopicId: null, rejectedProjectsId})
          this.ws.json({rejectedProjectsId, type: "rejectedProjectsId"})
        }
        return false
      },
      removeAcceptedProject(topicId) {
        let {acceptedProjectsId} = this.get()
        const index = acceptedProjectsId.indexOf(topicId)
        if (index >= 0) {
          acceptedProjectsId.splice(index, 1)
          this.set({acceptedProjectsId})
          this.ws.json({acceptedProjectsId, type: "acceptedProjectsId"})
        }
      },
      removeRejectedProject(topicId) {
        let {rejectedProjectsId} = this.get()
        const index = rejectedProjectsId.indexOf(topicId)
        if (index >= 0) {
          rejectedProjectsId.splice(index, 1)
          this.set({rejectedProjectsId})
          this.ws.json({rejectedProjectsId, type: "rejectedProjectsId"})
        }
      },
    },
    oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      let firstMessage = true
      const ws = this.ws = new Sockette(`${config.appWsUrl}/admin`, {
        // timeout: 5e3,
        // maxAttempts: 10,
        onclose: event => console.log("Admin Défis Closed!", event),
        onerror: event => console.error("Admin Défis Error:", event),
        onmaximum: event => console.log("Admin Défis Stop Attempting!", event),
        onmessage: event => {
          // console.log("Admin Défis Received:", event)
          if (firstMessage) {
            const {acceptedProjectsId, rejectedProjectsId} = JSON.parse(event.data)
            this.set({acceptedProjectsId, rejectedProjectsId})
            firstMessage = false
          }
        },
        onopen: (/* event */) => {
          // console.log("Admin Défis Connected!", event)
          const { projectsCategory } = this.get()
          ws.json({projectsCategory, type: "projectsCategory"})
        },
        onreconnect: event => console.log("Admin Défis Reconnecting...", event),
      })
    },
    async preload({
      // params,
      // query,
    }) {
      try {
        const projectsCategory = await fetchCategory(this.fetch, categoryConfig)
        return {
          projectsCategory: {
            ...projectsCategory,
            config: categoryConfig,
          },
        }
      } catch (error) {
        return {
          errorMessage: error,
        }
      }
    },
  }
</script>