<svelte:head>
  <title>Admin | {config.title}</title>
</svelte:head>

<AdminBar slug="default"/>
<div class="container-fluid">
  <h1 class="display-4 mb-5 mt-5 text-center">Admin</h1>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="nowPlaying" id="now_playing_default" value="default" checked={nowPlaying === "default"} on:click="click(event)">
    <label class="form-check-label" for="now_playing_default">
      Bannière
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="nowPlaying" id="now_playing_pitches" value="pitches" checked={nowPlaying === "pitches"} on:click="click(event)">
    <label class="form-check-label" for="now_playing_pitches">
      Pitches
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="nowPlaying" id="now_playing_slideshow" value="slideshow" checked={nowPlaying === "slideshow"} on:click="click(event)">
    <label class="form-check-label" for="now_playing_slideshow">
      Diaporama
    </label>
  </div>
</div>


<script>
  import Sockette from "sockette"
  import AdminBar from "../../components/AdminBar.html"
  import config from "../../config.js"

  export default {
    components: {
      AdminBar,
    },
    data() {
      return {
        nowPlaying: "default",
      }
    },
    helpers: {
      config,
    },
    methods: {
      click(event) {
        console.log("click", event.target.value)
        const nowPlaying = event.target.value
        if (nowPlaying) {
          this.set({nowPlaying})
          this.ws.json({nowPlaying, type: "nowPlaying"})
        }
      },
    },
    oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      let firstMessage = true
      this.ws = new Sockette(`${config.appWsUrl}/admin`, {
        // timeout: 5e3,
        // maxAttempts: 10,
        onclose: event => console.log("Admin Index Closed!", event),
        onerror: event => console.error("Admin Index Error:", event),
        onmaximum: event => console.log("Admin Index Stop Attempting!", event),
        onmessage: event => {
          // console.log("Admin Index Received:", event)
          if (firstMessage) {
            const {nowPlaying} = JSON.parse(event.data)
            this.set({nowPlaying})
            firstMessage = false
          }
        },
        onopen: (/* event */) => {
          // console.log("Admin Index Connected!", event)
        },
        onreconnect: event => console.log("Admin Index Reconnecting...", event),
      })
    },
  }
</script>