<svelte:head>
  <title>Messages | Admin | {config.title}</title>
</svelte:head>

<AdminBar slug="messages"/>
<div class="container-fluid">
  <h1 class="display-4 mb-5 mt-5 text-center">Admin — Messages</h1>
  <div class="row">
    <div class="col">
      <h2>Rejetés</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, rejectedMessagesId) as topicEmbed (`rejected-${topicEmbed.id}`)}
          <li class="media{dragTargetTopicId === topicEmbed.id ? ' drag-over' : ''}" on:dragenter="dragEnter(event, topicEmbed.id)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, topicEmbed.id)" on:drop="dropToRejected(event, topicEmbed.id)">
            <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <span class="badge badge-primary">#{topicEmbed.id}</span>
                {topicEmbed.title}
                <i class="delete-button material-icons ml-3" on:click="removeRejectedMessage(topicEmbed.id)">delete</i>
              </h5>
              <div>
                {@html topicEmbed.excerpt}
              </div>
            </div>
          </li>
        {/each}
        <li class="media{dragTargetTopicId === -1 ? ' drag-over' : ''}" on:dragenter="dragEnter(event, -1)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, -1)" on:drop="dropToRejected(event, -1)">
          <div class="media-body">
            <i>Glisser ici les messages à rejeter.</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2>Candidats</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, topicsId) as topicEmbed (`candidate-${topicEmbed.id}`)}
          {#if !acceptedMessagesId.includes(topicEmbed.id) && !rejectedMessagesId.includes(topicEmbed.id)}
            <li class="draggable{dragSourceTopicId === topicEmbed.id ? ' dragging' : ''} media" draggable="true" id="{topicEmbed.id}"  on:dragend="dragEnd(event)" on:dragstart="dragStart(event, topicEmbed.id)">
              <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
              <div class="media-body">
                <h5 class="mt-0 mb-1">
                  <span class="badge badge-primary">#{topicEmbed.id}</span>
                  {topicEmbed.title}
                </h5>
                <div>
                  {@html topicEmbed.excerpt}
                </div>
              </div>
            </li>
          {/if}
        {/each}
      </ul>
    </div>
    <div class="col">
      <h2>Acceptés</h2>
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, acceptedMessagesId) as topicEmbed (`accepted-${topicEmbed.id}`)}
          <li class="draggable {dragTargetTopicId === topicEmbed.id ? ' drag-over' : ''}{dragSourceTopicId === topicEmbed.id ? ' dragging' : ''} media" draggable="true" on:dragend="dragEnd(event)" on:dragenter="dragEnter(event, topicEmbed.id)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)"on:dragover="dragOver(event, topicEmbed.id)" on:dragstart="dragStart(event, topicEmbed.id)" on:drop="dropToAccepted(event, topicEmbed.id)">
            <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
            {#if playingTopicId === topicEmbed.id}
              <i class="material-icons mr-3" on:click="setPlayingTopicId(null)">pause_circle_filled</i>
            {:else}
              <i class="material-icons mr-3" on:click="setPlayingTopicId(topicEmbed.id)">play_circle_filled</i>
            {/if}
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <span class="badge badge-primary">#{topicEmbed.id}</span>
                {topicEmbed.title}
                <i class="delete-button material-icons ml-3" on:click="removeAcceptedMessage(topicEmbed.id)">delete</i>
              </h5>
              <div>
                {@html topicEmbed.excerpt}
              </div>
            </div>
          </li>
        {/each}
        <li class="media{dragTargetTopicId === -2 ? ' drag-over' : ''}" on:dragenter="dragEnter(event, -2)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, -2)" on:drop="dropToAccepted(event, -2)">
          <div class="media-body">
            <i>Glisser ici les messages à accepter.</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<style type="text/scss">
  .delete-button {
    cursor: pointer;
  }

  .drag-over {
    border-top: 2px solid blue;
  }

  .draggable {
    cursor: grab;
  }

  .dragging {
    opacity: 0.4;
  }

  .image {
    max-height: 64px;
    max-width: 64px;
    object-fit: contain;
    pointer-events: none; /* Make image not draggable. */
  }
</style>

<script>
  import Sockette from "sockette"
  import AdminBar from "../../components/AdminBar.html"
  import config from "../../config.js"
  import {fetchCategory} from "../../utils.js"

  const categoryConfig = config.messagesCategory

  export default {
    components: {
      AdminBar,
    },
    computed: {
      topicEmbedById({messagesCategory}) {
        return messagesCategory === null ?
          {} :
          messagesCategory.topic_list.topics.slice(1).reduce(function(result, topicEmbed /* , index, array */) {
            result[topicEmbed.id] = topicEmbed
            return result
          }, {})
      },
      topicsId({messagesCategory}) {
        return messagesCategory === null ?
          [] :
          messagesCategory.topic_list.topics.slice(1).map(topicEmbed => topicEmbed.id)
      },
    },
    data() {
      return {
        acceptedMessagesId: [],
        dragSourceTopicId: null,
        dragTargetTopicId: null,
        errorMessage: null,
        playingTopicId: null,
        messagesCategory: null,
        rejectedMessagesId: [],
      }
    },
    helpers: {
      config,
      topicsIdToTopicsEmbed(topicEmbedById, topicsId) {
        return topicsId.map(topicId => topicEmbedById[topicId])
      },
    },
    methods: {
      dragEnd(/* event */) {
        // console.log("dragEnd")
        this.set({dragSourceTopicId: null, dragTargetTopicId: null})
      },
      dragEnter(/* event, */ topicId) {
        // console.log("dragEnter")
        this.set({dragTargetTopicId: topicId})
      },
      dragExit(/* event */) {
        // console.log("dragExit")
        this.set({dragTargetTopicId: null})
      },
      dragLeave(/* event */) {
        // console.log("dragLeave")
        this.set({dragTargetTopicId: null})
      },
      dragOver(event, topicId) {
        // console.log("dragOver")
        event.preventDefault()
        this.set({dragTargetTopicId: topicId})
        return false
      },
      dragStart(event, topicId) {
        // console.log("dragStart")
        event.dataTransfer.dropEffect = "move"
        event.dataTransfer.effectAllowed = "move"
        event.dataTransfer.setData("text/plain", topicId)
        this.set({dragSourceTopicId: topicId})
      },
      dropToAccepted(event, targetTopicId) {
        event.preventDefault()
        // console.log("dropToAccepted")
        const topicId = parseInt(event.dataTransfer.getData("text/plain"))
        let {acceptedMessagesId} = this.get()
        const targetIndex = targetTopicId === null ? null : acceptedMessagesId.indexOf(targetTopicId)
        const sourceIndex = acceptedMessagesId.indexOf(topicId)
        if (sourceIndex >= 0) {
          acceptedMessagesId.splice(sourceIndex, 1)
        }
        if (targetIndex === null || targetIndex < 0) {
          acceptedMessagesId.push(topicId)
        } else {
          acceptedMessagesId.splice(targetIndex, 0, topicId)
        }
        this.set({dragSourceTopicId: null, dragTargetTopicId: null, acceptedMessagesId})
        this.ws.json({acceptedMessagesId, type: "acceptedMessagesId"})
        return false
      },
      dropToRejected(event, targetTopicId) {
        event.preventDefault()
        // console.log("dropToRejected")
        const topicId = parseInt(event.dataTransfer.getData("text/plain"))
        let {rejectedMessagesId} = this.get()
        if (!rejectedMessagesId.includes(topicId)) {
          if (targetTopicId === null) {
            rejectedMessagesId.push(topicId)
          } else {
            const index = rejectedMessagesId.indexOf(targetTopicId)
            if (index < 0) {
              rejectedMessagesId.push(topicId)
            } else {
              rejectedMessagesId.splice(index, 0, topicId)
            }
          }
          this.set({dragSourceTopicId: null, dragTargetTopicId: null, rejectedMessagesId})
          this.ws.json({rejectedMessagesId, type: "rejectedMessagesId"})
        }
        return false
      },
      removeAcceptedMessage(topicId) {
        let {acceptedMessagesId} = this.get()
        const index = acceptedMessagesId.indexOf(topicId)
        if (index >= 0) {
          acceptedMessagesId.splice(index, 1)
          this.set({acceptedMessagesId})
          this.ws.json({acceptedMessagesId, type: "acceptedMessagesId"})
        }
      },
      removeRejectedMessage(topicId) {
        let {rejectedMessagesId} = this.get()
        const index = rejectedMessagesId.indexOf(topicId)
        if (index >= 0) {
          rejectedMessagesId.splice(index, 1)
          this.set({rejectedMessagesId})
          this.ws.json({rejectedMessagesId, type: "rejectedMessagesId"})
        }
      },
      setPlayingTopicId(playingTopicId) {
        this.set({playingTopicId})
        this.ws.json({playingTopicId, type: "playingTopicId"})
      },
    },
    oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      let firstMessage = true
      const ws = this.ws = new Sockette(`${config.appWsUrl}/admin`, {
        // timeout: 5e3,
        // maxAttempts: 10,
        onclose: event => console.log("Admin Messages Closed!", event),
        onerror: event => console.error("Admin Messages Error:", event),
        onmaximum: event => console.log("Admin Messages Stop Attempting!", event),
        onmessage: event => {
          // console.log("Admin Messages Received:", event)
          if (firstMessage) {
            const {acceptedMessagesId, playingTopicId, rejectedMessagesId} = JSON.parse(event.data)
            this.set({acceptedMessagesId, playingTopicId, rejectedMessagesId})
            firstMessage = false
          }
        },
        onopen: (/* event */) => {
          // console.log("Admin Messages Connected!", event)
          const { messagesCategory } = this.get()
          ws.json({messagesCategory, type: "messagesCategory"})
        },
        onreconnect: event => console.log("Admin Messages Reconnecting...", event),
      })
    },
    async preload({
      // params,
      // query,
    }) {
      try {
        const messagesCategory = await fetchCategory(this.fetch, categoryConfig)
        return {
          messagesCategory: {
            ...messagesCategory,
            config: categoryConfig,
          },
        }
      } catch (error) {
        return {
          errorMessage: error,
        }
      }
    },
  }
</script>