<svelte:head>
  <title>Pitches | Admin | {config.title}</title>
</svelte:head>

<AdminBar slug="pitches"/>
<div class="container-fluid">
  <h1 class="display-4 mb-5 mt-5 text-center">Admin — Pitches</h1>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        {#each topicsIdToTopicsEmbed(topicEmbedById, acceptedProjectsId) as topicEmbed (`accepted-${topicEmbed.id}`)}
          <li class="{playingTopicId === topicEmbed.id ? "bg-warning " : ""}draggable {dragTargetTopicId === topicEmbed.id ? ' drag-over' : ''}{dragSourceTopicId === topicEmbed.id ? ' dragging' : ''} media" draggable="true" on:dragend="dragEnd(event)" on:dragenter="dragEnter(event, topicEmbed.id)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)"on:dragover="dragOver(event, topicEmbed.id)" on:dragstart="dragStart(event, topicEmbed.id)" on:drop="dropToAccepted(event, topicEmbed.id)">
            <img class="image mr-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
            {#if playingTopicId === topicEmbed.id}
              <i class="material-icons mr-3" on:click="setPlayingTopicId(null)">radio_button_checked</i>
              {#if secondsRunning}
                <i class="material-icons mr-3" on:click="setSecondsRunning(false)">pause_circle_filled</i>
              {:else}
                <i class="material-icons mr-3" on:click="setSecondsRunning(true)">play_circle_filled</i>
              {/if}
            {:else}
              <i class="material-icons mr-3" on:click="setPlayingTopicId(topicEmbed.id)">radio_button_unchecked</i>
              <i class="material-icons mr-3">not_interested</i>
            {/if}
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <span class="badge badge-primary">#{topicEmbed.id}</span>
                {topicEmbed.title}
                <i class="delete-button material-icons ml-3" on:click="removeAcceptedProject(topicEmbed.id)">delete</i>
              </h5>
              <div>
                {@html topicEmbed.excerpt}
              </div>
            </div>
          </li>
        {/each}
        <li class="media{dragTargetTopicId === -2 ? ' drag-over' : ''}" on:dragenter="dragEnter(event, -2)" on:dragexit="dragExit(event)" on:dragleave="dragLeave(event)" on:dragover="dragOver(event, -2)" on:drop="dropToAccepted(event, -2)">
          <div class="media-body">
            <i>Glisser ici les défis à accepter.</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <form class="form-inline" on:submit="submitDuration(event)">
        <div class="form-group">
          <label for="duration">Durée :</label>
          <input bind:value=newDuration class="form-control" id="duration" step="10" type="number">
        </div>
        <button class="btn" type="submit" value="submit">OK</button>
      </form>
      {#if duration !== null && seconds !== null}
        <div class="display-1{duration < seconds ? " bg-danger text-white" : duration - 10 < seconds ? " bg-warning text-dark" : ""} pl-1 pr-1">{toMinutesSeconds(duration - seconds)}
        </div>
      {/if}
    </div>
  </div>
</div>

<style type="text/scss">
  .delete-button {
    cursor: pointer;
  }

  .drag-over {
    border-top: 2px solid blue;
  }

  .draggable {
    cursor: grab;
  }

  .dragging {
    opacity: 0.4;
  }

  .image {
    max-height: 64px;
    max-width: 64px;
    object-fit: contain;
    pointer-events: none; /* Make image not draggable. */
  }
</style>

<script>
  import Sockette from "sockette"
  import AdminBar from "../../components/AdminBar.html"
  import config from "../../config.js"
  import {toMinutesSeconds} from "../../utils.js"

  export default {
    components: {
      AdminBar,
    },
    computed: {
      topicEmbedById({projectsCategory}) {
        return projectsCategory === null ?
          {} :
          projectsCategory.topic_list.topics.slice(1).reduce(function(result, topicEmbed /* , index, array */) {
            result[topicEmbed.id] = topicEmbed
            return result
          }, {})
      },
      topicsId({projectsCategory}) {
        return projectsCategory === null ?
          [] :
          projectsCategory.topic_list.topics.slice(1).map(topicEmbed => topicEmbed.id)
      },
    },
    data() {
      return {
        acceptedProjectsId: [],
        dragSourceTopicId: null,
        dragTargetTopicId: null,
        duration: 60,
        errorMessage: null,
        newDuration: "60",
        playingTopicId: null,
        projectsCategory: null,
        rejectedProjectsId: [],
        seconds: 0,
        secondsRunning: false,
      }
    },
    helpers: {
      config,
      toMinutesSeconds,
      topicsIdToTopicsEmbed(topicEmbedById, topicsId) {
        return topicsId.map(topicId => topicEmbedById[topicId])
      },
    },
    methods: {
      dragEnd(/* event */) {
        // console.log("dragEnd")
        this.set({dragSourceTopicId: null, dragTargetTopicId: null})
      },
      dragEnter(/* event,  */topicId) {
        // console.log("dragEnter")
        this.set({dragTargetTopicId: topicId})
      },
      dragExit(/* event */) {
        // console.log("dragExit")
        this.set({dragTargetTopicId: null})
      },
      dragLeave(/* event */) {
        // console.log("dragLeave")
        this.set({dragTargetTopicId: null})
      },
      dragOver(event, topicId) {
        // console.log("dragOver")
        event.preventDefault()
        this.set({dragTargetTopicId: topicId})
        return false
      },
      dragStart(event, topicId) {
        // console.log("dragStart")
        event.dataTransfer.dropEffect = "move"
        event.dataTransfer.effectAllowed = "move"
        event.dataTransfer.setData("text/plain", topicId)
        this.set({dragSourceTopicId: topicId})
      },
      dropToAccepted(event, targetTopicId) {
        event.preventDefault()
        // console.log("dropToAccepted")
        const topicId = parseInt(event.dataTransfer.getData("text/plain"))
        let {acceptedProjectsId} = this.get()
        const targetIndex = targetTopicId === null ? null : acceptedProjectsId.indexOf(targetTopicId)
        const sourceIndex = acceptedProjectsId.indexOf(topicId)
        if (sourceIndex >= 0) {
          acceptedProjectsId.splice(sourceIndex, 1)
        }
        if (targetIndex === null || targetIndex < 0) {
          acceptedProjectsId.push(topicId)
        } else {
          acceptedProjectsId.splice(targetIndex, 0, topicId)
        }
        this.set({dragSourceTopicId: null, dragTargetTopicId: null, acceptedProjectsId})
        this.ws.json({acceptedProjectsId, type: "acceptedProjectsId"})
        return false
      },
      removeAcceptedProject(topicId) {
        let {acceptedProjectsId} = this.get()
        const index = acceptedProjectsId.indexOf(topicId)
        if (index >= 0) {
          acceptedProjectsId.splice(index, 1)
          this.set({acceptedProjectsId})
          this.ws.json({acceptedProjectsId, type: "acceptedProjectsId"})
        }
      },
      setPlayingTopicId(playingTopicId) {
        this.set({playingTopicId, secondsRunning: false})
        this.ws.json({playingTopicId, type: "playingTopicId"})
      },
      setSecondsRunning(secondsRunning) {
        this.set({secondsRunning})
        this.ws.json({secondsRunning, type: "secondsRunning"})
      },
      submitDuration(event) {
        event.preventDefault()
        const {newDuration} = this.get()
        const duration = parseInt(newDuration)
        this.set({duration})
        this.ws.json({duration, type: "duration"})
      },
    },
    oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      let firstMessage = true
      this.ws = new Sockette(`${config.appWsUrl}/admin`, {
        // timeout: 5e3,
        // maxAttempts: 10,
        onclose: event => console.log("Admin Pitches Closed!", event),
        onerror: event => console.error("Admin Pitches Error:", event),
        onmaximum: event => console.log("Admin Pitches Stop Attempting!", event),
        onmessage: event => {
          // console.log("Admin Pitches Received:", event)
          if (firstMessage) {
            const {
              acceptedProjectsId,
              duration,
              playingTopicId,
              projectsCategory,
              seconds,
              secondsRunning,
            } = JSON.parse(event.data)
            let newDuration = duration.toString()
            this.set({
              acceptedProjectsId,
              duration,
              newDuration,
              playingTopicId,
              projectsCategory,
              seconds,
              secondsRunning,
            })
            firstMessage = false
          } else {
            const {
              seconds,
            } = JSON.parse(event.data)
            this.set({
              seconds,
            })
          }
        },
        onopen: (/* event */) => {
          // console.log("Admin Pitches Connected!", event)
        },
        onreconnect: event => console.log("Admin Pitches Reconnecting...", event),
      })
    },
  }
</script>