<article class="d-flex flex-column pb-1 topic-screen">
  <div class="head">
    {#if topicEmbed.image_url}
      <img class="image ml-3 mb-3" src="{topicEmbed.image_url}" alt="logo de la fiche">
    {/if}
    <h1 class="display-2 mb-3">
      {#if topicEmbed.showId}
        <span class="badge badge-primary">#{topicEmbed.id}</span>
      {/if}
      {topicEmbed.title}
    </h1>
    <br class="mt-4 mb-4">
    <p class="body h1"><i>{@html topicEmbed.excerpt}</i></p>
  </div>
  <div class="mt-auto pt-5">
    <div class="d-flex foot justify-content-between">
      {#if duration !== null && seconds !== null}
        <span class="display-1{duration < seconds ? " bg-danger text-white" : duration - 10 < seconds ? " bg-warning text-dark" : ""} pl-1 pr-1">{toMinutesSeconds(duration - seconds)}
        </span>
        <audio id="ring_sound" src="ring.mp3"></audio>
        {#if duration < seconds}
          <script>
            if (document !== undefined) {  // eslint-disable-line no-undef
              document.getElementById("ring_sound").play()  // eslint-disable-line no-undef
            }
          </script>
        {/if}
      {:else}
        <span> </span>
      {/if}
      <a class="card-link display-2" href="{urlResolve(config.apiUrl, `/t/${topicEmbed.slug}/${topicEmbed.id}`)}">{urlResolve(config.apiUrl, `/t/${topicEmbed.id}`)}</a>
    </div>
    {#if nextTopicEmbed !== null}
      <div class="bg-secondary display-4 mt-1 text-left text-white">
        Suivant :
        {#if nextTopicEmbed.showId}
          <b>#{nextTopicEmbed.id}</b>
        {/if}
        {nextTopicEmbed.title}
      </div>
    {/if}
  </div>
</article>

<style type="text/scss">
  .foot {
    align-items: baseline;
  }
  .head {
    overflow: auto
  }
  .image {
    float: right;
    height: 480px;
    object-fit: contain;
  }
  .topic-screen {
    height: 100vh;
  }
</style>

<script>
  import urlResolve from "url-resolve"
  import config from "../config.js"
  import {toMinutesSeconds} from "../utils.js"

  export default {
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
      config,
      toMinutesSeconds,
      urlResolve,
    },
  }
</script>